<nav
  class="navbar is is-primary has has-shadow"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <!--  <i class='bx bxs-log-in-circle'></i> -->
      <!-- <img src="/dist/static/logo-ligo" width="90" height="80"> -->
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="field is-grouped"></div>
    </div>
  </div>
</nav>
